#body{
	background-image:url('image.png');
	font-family: 'Varela', sans-serif;
}
/*this is the main_wrap div*/
#main_wrap{
	position:relative;
	margin:0 auto;
	width:960px;
	height:3000px;
	background-color:#f1f1f1;
	
}



/*This will describe the store front header*/
#header_store{
	height:auto;
	
	
}
#header_store img{
	width:960px;
}
/*This will describe the actual menu items*/
.menu_list{
	
	margin-left: 0;
	margin-top:0;
 	padding-left: 0;
}
.menu_list li{
	margin-left:10px;
	float:left;
	list-style:none;
}

.menu_item{
	position:relative;
	padding:10px;
	background-color:white;
	width:207.5px;
	height:420px;
	margin-bottom:10px;
	-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
		
}

.menu_item img{
	width:210px;
	height:140px;	
}

.delete_button{
	position:absolute;
	top:0px;
	right:0px;
	margin:5px;
	background-color:#820F00;
	color:white;
	font-size:14px;
	border:none;
	font:14x;
	padding-left:5px;
	padding-right:5px;
	cursor:pointer;
}

.delete_button:hover{
	background-color:#411107;
	-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
}


.edit_item_button{
	position:absolute;
	text-decoration:none;
	display:block;
	font-size:14px;
	background-color:#2790B0;
	padding-right:5px;
	padding-left:5px;
	color:white;
	right:35px;
	top:5px;
}

.edit_item_button:hover{
	background-color:#2B4E72;
	-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
}

#new_product_button{
	position:absolute;
	right:5px;
	text-decoration:none;
	display:block;
	font-size:20px;
	background-color:#3a8c00;
	padding:10px;
	color:white;
	
}

#new_product_button:hover{
	background-color:#94BA65;
	-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
}

#product_list{
	position:relative;
}


